/*---------------- RESETEO ---------------- */ 

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*---------------- RECURSOS---------------- */ 

    /* Sección 1 */

    .seccion1 {
        background-image: url(../img/Fondo_Seccion1_Recursos.jpg);
        background-size: cover;
        display: flex;
    }

/* Sección 2 */

    .texto-seccion2 {
        color: #ffffff;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .imagen-seccion2 {
        width: 24rem;
        border-radius: 2rem;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .seccion2 {
        background-image: url(../img/Fondo_Seccion_2-4_Home.jpg);
        background-size: cover;
        display: flex;
    }

    .columna1-seccion2 {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .columna2-seccion2 {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Media queries (Pantallas inferiores) */

    @media screen and (max-width: 950px) { 

        .texto-seccion2 {
            text-align: center;
        }

        .columna1-seccion2, .columna2-seccion2 {
            width: 100%;
        }
        
        .columna1-seccion2 {
            order: 1;
        
        }
        
        .columna2-seccion2 {
            order: 2;
        }
    }

    @media screen and (max-width: 950px) and (min-width: 540px) {
        .imagen-seccion2 {
            width: 18rem;
        }
    }
    @media screen and (max-width: 540px) {  
        .imagen-seccion2 {
            width: 14rem;
        }
    } 

   

    /* Sección 3 */

    /* Sección 3 (1-3) */

    
    .pading-columna {
        padding: 3rem;
    }
    
    .icon_Gear-fill, .icon_File-code-fill, .icon_Book-fill, .icon_People-fill {
        color: #39A388;
        font-size: 3rem;
        display: block; /* asegura que se centren correctamente */
        margin: auto; /* centra horizontalmente */
        text-align: center;
        padding: 0 0 1rem 0;
    }
    
    .fondo-seccion3-2 {
        max-width: 100%;
        margin: 0 auto;
        background-image: url(..//img/Fondo_Seccion3.2_Recursos.jpg);
        background-size: cover;
        display: flex;
        height: 100%; 
        overflow: hidden; 
    }

    .fondo-seccion3-1 {
        max-width: 100%;
        margin: 0 auto;
        background-image: url(..//img/Fondo_Seccion3.1_Recursos.jpg);
        background-size: cover;
        display: flex;
        height: 100%; 
        overflow: hidden; 
    }
    
    .grid-container {
        display: grid;
        grid-template-rows: auto;
    }
    
    @media (min-width: 768px) {
        .grid-container {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    
    .grid-item {
        text-align: center;
    }
    
    .first, .second {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .imagen {
        width: 100%;
        height: auto;
        max-height: 24rem;
        object-fit: cover;
    }
    
    @media (max-width: 894px) {
        .grid-container {
            grid-template-columns: 1fr;
        }
        
    }
       
    /* Sección 3 (2-4) */

    
    @media (min-width: 768px) {
        .grid-container {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    
    .grid-item {
        text-align: center;
    }
    
    .third, .fourth {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .imagen {
        width: 100%;
        height: auto;
        max-height: 24rem;
        object-fit: cover;
    }
    
    @media (max-width: 894px) {
        .grid-container {
            grid-template-columns: 1fr;
        }
        .grid-item.third {
            order: 2;
          }
        .grid-item.fourth {
            order: 1;
          }
    }

    /* Generales en individual */   

    .Fondo {
        background-color: #ffffff;
    }

    .Fondo p {
        text-align: left;
    }
    @media screen and (max-width: 1000px) {
        .Fondo p {
            text-align: center;
        }
    }
    
    .seccion-titulo {
        background-color: #000000;
    }

    .texto-texto h4 {
        text-align: center;
        color: #ffffff;
        margin: 0;
        padding: 1rem;
    }

    .contenido h5 {
        text-align: left;
    }
    @media screen and (max-width: 1000px) {
        .contenido h5 {
            text-align: center;
        }
    }



    .margen-contenido {
        margin: 1rem 12rem;
    }
    @media screen and (max-width: 1200px) and (min-width: 1024px) { 
        .margen-contenido {
            margin: 1rem 8rem;
        }
     } 
     @media screen and (max-width: 1024px) and (min-width: 768px) { 
        .margen-contenido {
            margin: 1rem 4rem;
        }
     } 
     @media screen and (max-width: 768px) and (min-width: 540px) { 
        .margen-contenido {
            margin: 1rem 2rem;
        }
     } 

    @media screen and (max-width: 540px) { 
        .margen-contenido {
            margin: 0 0.5rem;
        }
     }


    .Fondo h4{
        text-align: center;
        margin-bottom: 2rem;
    }
     
    
    .tabla-contenido {
        background-color: #EFEFEF;
        padding: 3rem;
        margin: 4rem 0;
    }
    @media screen and (max-width: 768px) {  
        .tabla-contenido {
            margin: 2rem 0;
        } 
    }

    .tabla-contenido h6{
        color: #3F8C76;
    }

    .tabla-contenido ul {
        list-style-type: none;
        font-weight: 600;
        margin-left: 1rem;

      }
      
      .tabla-contenido li {
        margin-bottom: 10px;
        position: relative;
      }
      
      .tabla-contenido li::before {
        content: "\2022"; /* Código unicode del punto (•) */
        color: #000000; /* Color del punto */
        position: absolute;
        left: -15px;
        font-weight: 600;
        font-size: 20px;
      }
      
      .tabla-contenido a {
        color: #000000;
        text-decoration: none;
      }
      
      .tabla-contenido a:hover {
        color: #39A388;
      }
      
      .contenido a {
        color: #39A388;
        text-decoration: none;
      }
   
      .contenido h6 {
        margin-top: 1rem;
        color: #D35822;
        text-align: center;
      }
      
      .contenido a:hover {
        color: #D35822;
        text-decoration: none;
      }
      .contenido h5{
        margin-top: 3rem;
        color: #39A388;
      }
      .embebidos {
        margin: 1rem 0 0 0;
      }
      
      .link {
        text-align:left;
      }
      @media screen and (max-width: 1000px) {
        .link {
            text-align:center;
          }
        } 
   
