/*---------------- RESETEO ---------------- */ 

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*---------------- CONTACTO ---------------- */ 
        
    /* --SECCIÓN-1-CONTACTO-- */    

        .texto-seccion1-contacto {
            color: #ffffff;
            justify-content: center;
            align-items: center;
        }
        .imagen-seccion1-contacto  {
            width: 24rem;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .seccion1-contacto {
            background-image: url(../img/Fondo_Seccion1_contacto.jpg);
            background-size: cover;
            display: flex;
        }

        .columna1-seccion1-contacto {
            width: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .columna2-seccion1-contacto {
            width: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        /* Media queries (Pantallas inferiores) */

        @media screen and (max-width: 950px) { 

            .texto-seccion1-contacto {
                text-align: center;
            }
            .seccion1-contacto {
                flex-direction: column;
            }

            .columna1-seccion1-contacto, .columna2-seccion1-contacto {
                width: 100%;
            }
            
            .columna1-seccion1-contacto {
                order: 1;
            
            }
            
            .columna2-seccion1-contacto {
                order: 2;
            }
        }
        @media screen and (max-width: 950px) and (min-width: 540px) {
            .imagen-seccion1-contacto {
                width: 18rem;
            }
        }

        @media screen and (max-width: 540px) {
            .imagen-seccion1-contacto {
                width: 14rem;
            }
        } 

        
    /* --SECCIÓN-2-CONTACTO-- */ 

        .icon-location, .icon-phone, .icon-mail {
            color: #F26C23;
            font-size: 3rem;
            display: block; /* asegura que se centren correctamente */
            margin: auto; /* centra horizontalmente */
            text-align: center;
            margin: 0 0 1rem 0;
        }

            .texto-columna1-seccion2-contacto, .texto-columna2-seccion2-contacto, .texto-columna3-seccion2-contacto {
                text-align: center;
                justify-content: center;
                align-items: center;
            }

        .seccion2-contacto {
            justify-content: center;
            text-align: center;
        }

        .columnas-seccion2-contacto {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            padding: 30px 0;
        }

        .columna1-seccion2-contacto, .columna2-seccion2-contacto, .columna3-seccion2-contacto {
            width: 33.3%;
            display: flex;
            flex-direction: column;
        }

        /* Media queries (Pantallas inferiores) */

        @media screen and (max-width: 950px) {
            .footer1 {
                margin: 1rem 1rem;
                gap: 1rem;
            }
        }

        @media screen and (max-width: 700px) {
            .footer1 {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
            .columnas-seccion2-contacto {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                padding: 30px 0;
            }
        }



    /* --SECCIÓN-3-- */ 

        .seccion3-contacto {
            background-color: #000000;
        }

        .container-seccion3-contacto{
            flex-direction: column;
        }

        .texto-seccion3-contacto {
            text-align: center;
            color: #ffffff;
            margin: 0 0 3rem 0;
        }


        /* Grid seccion3 contacto */
        
            .grid-seccion3-contacto {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(1, 1fr);
                    grid-gap: 10px;
                }

                /*generales seccion3 contacto */ 

                    .grid1-seccion3-contacto, .grid2-seccion3-contacto { 
                        width: 100%; 
                        display: flex; 
                        flex-direction: column; 
                        justify-content: center; 
                        align-items: center;
                        margin: 0;  
                        padding: 0;
                    }  

                /* --formulario-- */ 
                .form {
                    justify-content: center;
                    align-items: center;
                    background-color: #000000;
                    border-radius: 15px;
                    padding: 2rem;
                    margin: 2rem;
                    width: 100%;
                  }
                  
                  .form label {
                    display: block;
                    margin-bottom: 10px;
                    color: #ffffff;
                    font-weight: medium;
                  }
                  
                  .input-field,
                  textarea {
                    display: block;
                    width: 100%;
                    padding: 10px;
                    margin-bottom: 10px;
                    background-color: #ffffff;
                    border: none;
                    border-radius: 15px;
                    color: #5a5a5a;
                  }
                  
                  button {
                    background-color: #39A388;
                    color: #ffffff;
                    padding: 10px 20px;
                    border-radius: 15px;
                    border: none;
                    cursor: pointer;
                  }
                  
                  button:hover {
                    background-color: #3F8C76;
                  }
                  
                  

                /* Columna 2 Grid Recursos */ 
                .imagen-seccion3-contacto {
                    width: 24rem;
                    border-radius: 2rem;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                

            /* Media queries (Pantallas inferiores) */

                @media screen and (max-width: 900px) and (min-width: 768px) {

                    .imagen-seccion3-contacto {
                        width: 20rem;
                    }
                }
                
                @media screen and (max-width: 768px) {

                    .grid-seccion3-contacto {
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(2, 1fr);
                    }
                }

                @media screen and (max-width: 500px) {

                    .imagen-seccion3-contacto {
                        width: 16rem;
                    }
                }

                @media screen and (max-width: 320px) {
                    .grid-seccion3-contacto {
                        margin: auto;
                    }
                }
